.pxwidget {
    background-color: white;
    position: relative;
}

.pxwidget canvas {
    width: 100%;
    height: 70vh;
}

.pxwidget img {
    display: block;
    margin: auto;
    max-width: 60%;
}

.pxwidget p {
    width: 100%;
}

.pxwidget .dt-buttons {
    margin-bottom: 5px;
}

.pxwidget .dataTables_filter {
    clear: both;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .pxwidget canvas {
        height: 80vh;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .pxwidget canvas {
        height: 60vh;
    }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .pxwidget canvas {
        height: 70vh;
    }
}